{% extends 'base.html.twig' %}

{% block title %}CovoiMiage | Paramètres{% endblock %}

{% block nav %}
{{parent()}}
{% endblock %}

{% block body %}
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        {{form_start(form)}}
        <button type="submit" class="btn btn-info" >Sauvegarder</button>
        {{form_end(form)}}
      </div>
    </div>
  </div>
{% endblock %}
