{% extends 'base.html.twig' %}

{% block title %}CovoiMiage | Paramètres{% endblock %}

{% block nav %}
{{parent()}}
{% endblock %}

{% block body %}
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <h3>Changer le thème: </h3><a href="{{path('set_dark')}}">Thème dark</a>
        <h3>Change le thème: </h3><a href="{{path('set_normal')}}">Thème normal</a>
      </div>
    </div>
  </div>
{% endblock %}
