{% extends 'base.html.twig' %}

{% block title %}CovoiMiage | Contact{% endblock %}

{% block nav %}
{{parent()}}
{% endblock %}

{% block body %}
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <h2 class="section-heading">Nous contacter !<br><small>Théo Lacroix & Léon Ferrari</small></h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
