{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
{{ form_start(formReserv) }}
<button type="submit" class="btn btn-primary "name="button">{% trans %}Réserver{% endtrans %}</button>
{{ form_end(formReserv) }}
